/* ========== About Component Styles ========== */

.about {
	width: 100%;
	padding: 5rem 10%;
	background-color: var(--background, #242424);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	z-index: 30;
}

.about__title {
	color: var(--violet, #BB9CF7);
	font-size: 2rem;
	font-weight: 900;
	z-index: 31;
}

.about__cursor {
	display: inline-block;
	width: 1.8rem;
	height: 2.5rem;
	margin-left: 0.35rem;
	border-radius: 2px;
	vertical-align: text-bottom;
	animation: blink 1s infinite;
	z-index: 32;
}

.about__text {
	color: var(--green, #9DD274);
	font-size: 1.2rem;
	letter-spacing: 0.15rem;
	line-height: 1.4;
	text-align: justify;
	z-index: 33;
}

@media screen and (orientation: landscape) {
	.about__title {
		font-size: 3rem;
	}

	.about__cursor {
		width: 2.2rem;
		height: 3.3rem;
	}
}

@media screen and (min-width: 1024px) {
	.about {
		padding: 5rem 20%;
	}

	.about__title {
		font-size: 3.6rem;
	}

	.about__cursor {
		width: 2.6rem;
		height: 4.1rem;
	}

	.about__text {
		font-size: 1.4rem;
	}
}