/* ========== Certificates Component Styles ========== */

.certificates {
	width: 100%;
	min-height: 100vh;
	padding: 5rem 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	z-index: 50;
}

.certificates__layer {
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: auto 150%;
	z-index: 51;
}

.certificates__title {
	font-size: 2rem;
	font-weight: 900;
	text-shadow: 0 0 1rem var(--background, #242424);
	z-index: 52;
}

.certificates__parallaxBox {
	width: 100%;
	z-index: 53;
}

.certificates__parallaxSubBox {
	width: 80%;
	margin: 0 auto;
}

.certificates__card {
	width: 100%;
	aspect-ratio: 3/2;
	padding: 0.6rem;
	background-color: var(--dark_matte, #242424CC);
	background-size: 80% 60%;
	background-repeat: no-repeat;
	background-position: center;
	backdrop-filter: blur(4px);
	border: 2px solid var(--dark, #242424);
	border-radius: 1rem;
	transform-style: preserve-3d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 54;
}

.certificates__cardTitle {
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: normal;
}

.certificates__cardLink {
	width: 12%;
	align-self: flex-end;
}

.certificates__cardLink>img {
	width: 100%;
}

@media screen and (orientation: landscape) {
	.certificates {
		padding: 5rem 10%;
	}

	.certificates__title {
		font-size: 3rem;
	}

	.certificates__parallaxSubBox {
		width: 65%;
	}

	.certificates__cardTitle {
		font-size: 1.25rem;
	}

	.certificates__cardLink {
		width: 10%;
	}
}

@media screen and (min-width: 1024px) {
	.certificates__title {
		font-size: 3.6rem;
	}

	.certificates__parallaxSubBox {
		width: 45%;
	}

	.certificates__card {
		aspect-ratio: 4/3;
		padding: 1rem;
		margin-bottom: 25px;
	}

	.certificates__cardTitle {
		font-size: 1.5rem;
	}

	.certificates__cardLink {
		width: 8%;
	}

	.certificates__cardLink>img {
		transition: transform 1s;
	}

	.certificates__cardLink>img:hover {
		transform: rotate(720deg) scale(1.5);
	}
}