/* ========== Contacts Component Styles ========== */

.contacts {
	background-color: var(--background, #242424);
	padding: 5rem 10% 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	z-index: 60;
}

.contacts__title {
	align-self: center;
	color: var(--yellow, #EDCB66);
	font-size: 3.6rem;
	font-weight: 900;
	z-index: 61;
}

.contacts__row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contacts__col {
	width: 50%;
}

.contacts__item {
	margin-bottom: 1rem;
}

.contacts__text {
	color: var(--green, #9DD274);
	font-size: 1.75rem;
	cursor: default;
	margin-bottom: 0.4rem;
}

.contacts__text>img {
	height: 1.5rem;
	margin-right: 1rem;
}

.contacts__link {
	color: var(--blue, #85dafb);
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-decoration: none;
}

.contacts__copyLink {
	color: var(--orange, #FF7A83);
	font-size: 1.2rem;
}