/* ========== Education Component Styles ========== */

.education {
	min-height: 100vh;
	padding: 5rem 5%;
	background-image: url(../assets/education-img/educationBg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.education__title {
	color: #FFF;
	font-family: 'Orbitron';
	font-size: 3.6rem;
	line-height: 1.2;
}