/* ========== Hero Component Styles ========== */

.hero {
	width: 100%;
	min-height: 100vh;
	padding: 0 5%;
	background-image: url(../assets/hero-img/heroBg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.hero__image {
	position: fixed;
	bottom: 0;
	left: 5%;
	width: 50%;
	transform: scale(0.8);
	opacity: 0;
	z-index: 2;
}