/* ========== Hero Component Styles ========== */

.hero {
	width: 100vw;
	min-height: 100vh;
	padding: 0 5%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.hero__layer {
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	z-index: 2;
}

.hero__image {
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 50%;
	transform: scale(0.8);
	opacity: 0;
	z-index: 3;
}

.hero__parallaxBox {
	width: 60%;
	margin-left: auto;
	z-index: 4;
}