/* ========== Skills Component Styles ========== */

.skills {
	background-color: var(--background, #242424);
	padding: 5rem 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	z-index: 40;
}

.skills__title {
	color: var(--violet, #BB9CF7);
	font-size: 2rem;
	font-weight: 900;
}

.skills__cursor {
	display: inline-block;
	width: 1.8rem;
	height: 0.3rem;
	border-radius: 2px;
	vertical-align: text-bottom;
	margin-left: 0.35rem;
	animation: blink 1s infinite;
	z-index: 32;
}

.skills__box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.skill__card {
	width: 48%;
	min-height: 3.2rem;
	padding: 0.6rem 1rem;
	margin-bottom: 1rem;
	background-color: var(--dark, #272A2F);
	border: 1px solid var(--white, #CDCDCD);
	border-radius: 0.5rem;
	box-shadow: 0 0 0.75rem 0.25rem var(--white, #CDCDCD);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skill__image {
	max-width: 1rem;
	max-height: 1rem;
}

.skill__name {
	color: var(--yellow, #EDCB66);
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}

@media screen and (orientation: landscape) {
	.skills__title {
		font-size: 3rem;
	}

	.skills__cursor {
		width: 2rem;
		height: 0.4rem;
	}

	.skill__card {
		width: 22%;
	}
}

@media screen and (min-width: 1024px) {
	.skills {
		padding: 5rem 10%;
	}

	.skills__title {
		font-size: 3.6rem;
	}

	.skills__cursor {
		width: 2.6rem;
		height: 0.5rem;
	}

	.skill__card {
		min-height: 3.2rem;
		margin-bottom: 1.8rem;
	}

	.skill__image {
		max-width: 2rem;
		max-height: 2rem;
	}

	.skill__name {
		font-size: 1.2rem;
	}
}