/* ========== WelcomeText Component Styles ========== */

.welcomeText__titleBox {
	width: 0px;
	min-height: 5rem;
	background-color: #272A2FCC;
	padding: 1rem;
	border: 2px solid #CDCDCD;
	border-radius: 1rem;
	opacity: 0;
	cursor: default;
	z-index: 3;
}

.welcomeText__title {
	color: #FF7A83;
	font-family: 'Inconsolata', serif;
	font-size: 2.6rem;
	line-height: 1.1;
	font-weight: 700;
	text-shadow: 0.75rem 0.75rem 1rem #000;
	white-space: nowrap;
}

.welcomeText__title>span:nth-of-type(1)>.h_0,
.welcomeText__title>span:nth-of-type(4)>.a_0 {
	color: #bb9cf7;
}

.welcomeText__title>span:nth-of-type(2)>.r_0 {
	margin-left: 2.6rem;
}

.welcomeText__title>span:nth-of-type(1)>.m_1,
.welcomeText__title>span:nth-of-type(2)>.r_0,
.welcomeText__title>span:nth-of-type(4)>.I_1,
.welcomeText__title>span:nth-of-type(4)>.f_3,
.welcomeText__title>span:nth-of-type(4)>.f_3 {
	color: #9DD274;
}


.welcomeText__title>*:nth-of-type(1)>.\(_3,
.welcomeText__title>*:nth-of-type(1)>.\{_5,
.welcomeText__title>*:nth-of-type(3)>.\}_0 {
	color: #EDCB66;
}

.welcomeText__title>span:nth-of-type(2)>.P_1,
.welcomeText__title>span:nth-of-type(4)>.D_4 {
	color: #85DAFB;
	margin-left: -1.2rem;
}