@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

:root {
	--blue: #85DAFB;
	--background: #242424;
	--black: #000000;
	--dark: #272A2F;
	--dark_matte: #272A2FCC;
	--green: #9DD274;
	--orange: #FF7A83;
	--violet: #BB9CF7;
	--white: #CDCDCD;
	--yellow: #EDCB66;

	color: var(--white);
	font-family: 'Orbitron', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.2;
	letter-spacing: 0.25rem;
	font-weight: regular;

	background-color: var(--background, #242424);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
}